/* StarWarsDisplay */
.character-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* StarWarsList */
.character-card {
  width: 30%;
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.character-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .5px solid gray;
  box-shadow: 0 4px 8px 0 rgba(148, 147, 147, 0.2), 0 6px 20px 0 rgba(179, 179, 179, 0.19);
}

#character-name {
  padding-left: 10px;
  font-size: 1.5rem;
}

#character-gender {
  padding-right: 10px;
}

.character-stats p {
  font-size: 1.2rem;
}